#statsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  gap: 35px;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 30px;
}

.darkMode > main > #statsContainer > .buckets {
  background-color: #343434;
  transition: 500ms;
}

.darkMode > main > #statsContainer > .buckets > .statNumbers {
  color: #ffffff;
  transition: 3000ms;
}

.buckets {
  background-color: #ededed;
  border-radius: 10px;
  height: 25vh;
  width: 25vw;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  transition: 500ms;
}

.buckets > h3 {
  color: #ff7f57;
  font-size: 18px;
}

.statNumbers {
  font-size: 50px;
  color: #000000;
  margin-bottom: 25px;
  font-style: italic;
  text-transform: capitalize;
  transition: 3000ms;
}
