@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.darkMode {
  background-color: #1c1b1b;
}

.lightMode {
  background-color: #f9f8fc;
}

nav {
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff7f57;
  height: 66px;
  padding-inline: 1.5%;
}

nav > ul {
  width: 30%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: 350ms;
}

nav > ul > li > a:hover {
  font-weight: bold;
}

nav > ul > li:nth-child(1) > a {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  transition: 500ms;
}

nav > ul > li:nth-child(1) > a:hover {
  color: #000000;
}

nav > button {
  display: flex;
  width: 10%;
  background: none;
  border: none;
  justify-content: flex-end;
  align-items: center;
}

nav > button > svg {
  cursor: pointer;
}

.hamMenu {
  background-color: #dadada;
  position: relative;
  transform: translateX(200%);
}

.hamMenu.active {
  display: block !important;
  animation: smoothslidein 500ms forwards;
}

@keyframes smoothslidein {
  to {
    transform: translateX(0);
  }
}

.hamMenu > ul {
  width: 100%;
  height: 15vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hamMenu > ul > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: 350ms;
}

.hamMenu > ul > li > a:focus {
  font-weight: bold;
  color: #000000;
}

.hamMenu > button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  background: none;
  border: none;
  justify-content: flex-end;
  align-items: center;
}

.hide {
  display: none;
}

.hide-desktop {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  nav > ul > li > a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: 350ms;
  }

  nav > ul > li {
    display: none;
  }

  nav > ul > li:nth-child(1) {
    display: block;
  }

  #menuHamburger {
    height: 100%;
  }

  #menuHamburger.active > #menuSandwich > #middlelayer {
    transition: 0.3s ease-in-out;
    opacity: 0;
  }

  #menuHamburger.active > #menuSandwich > #upperlayer {
    transition: 0.5s ease-in-out;
    transform: rotate(45deg) translateY(15px);
  }

  #menuHamburger.active > #menuSandwich > #lowerlayer {
    transition: 0.5s ease-in-out;
    transform: rotate(-45deg) translateY(-15px);
  }

  #menuSandwich {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #upperlayer {
    transition: 0.5s ease-in-out;
    background-color: black;
    height: 5px;
    width: 50%;
    border-radius: 8px;
  }

  #middlelayer {
    transition: 1s ease-in-out;
    background-color: black;
    height: 5px;
    width: 50%;
    border-radius: 8px;
  }

  #lowerlayer {
    transition: 0.5s ease-in-out;
    background-color: black;
    height: 5px;
    width: 50%;
    border-radius: 8px;
  }

  /*  #menuSandwich:hover #middlelayer {
    transition: 0.3s ease-in-out;
    opacity: 0;
  }

  #menuSandwich:hover #upperlayer {
    transition: 0.5s ease-in-out;
    transform: rotate(45deg) translateY(14px);
  }

  #menuSandwich:hover #lowerlayer {
    transition: 0.5s ease-in-out;
    transform: rotate(-45deg) translateY(-14px);
  }*/
}
