#anecdoteContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  gap: 35px;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

#anecdoteContainer > button {
  color: #ffffff;
  font-weight: bold;
  background-color: #ff7f57;
  border: none;
  border-radius: 10px;
  height: 35px;
  min-width: 255px;
  cursor: pointer;
  transition: 250ms;
  transition: color 1000ms;
}

#anecdoteContainer > button:hover {
  color: #ffffff;
  background-color: #e54a1b;
}

.darkMode > main > #anecdoteContainer > button {
  color: #000000;
  transition: 1000ms;
}

.darkMode > main > #anecdoteContainer > #anecdoteBox {
  background-color: #343434;
  transition: 500ms;
}

.darkMode > main > #anecdoteContainer > #anecdoteBox > p {
  color: #ffffff;
  transition: 3000ms;
}

.darkMode > main > .options > button {
  color: #000000;
  transition: 1000ms;
}

.darkMode > main > .options > .displayOptions > svg {
  cursor: pointer;
  stroke: #343434;
  transition: 500ms;
}

.darkMode > main > .options > .displayOptions > svg:hover {
  cursor: pointer;
  stroke: #e54a1b;
}

.darkMode > main > .options > .displayOptions > svg:focus {
  cursor: pointer;
  stroke: #e54a1b;
}

#anecdoteBox {
  background-color: #ededed;
  border-radius: 10px;
  min-height: 35vh;
  width: 50vw;
  min-width: 255px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

#anecdoteBox > h3 {
  color: #ff7f57;
  font-size: 18px;
}

p {
  font-size: 25px;
  color: #000000;
  font-style: italic;
  text-transform: capitalize;
  transition: 3000ms;
}

#anecdoteBox > #anecdote {
  padding-inline: 20px;
  padding-block: 10px;
}

.options {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options > button {
  color: #ffffff;
  font-weight: bold;
  background-color: #ff7f57;
  border: none;
  border-radius: 10px;
  height: 35px;
  min-width: 220px;
  cursor: pointer;
  transition: 250ms;
  transition: color 1000ms;
}

.options > button:hover {
  color: #ffffff;
  background-color: #e54a1b;
}

.options > .displayOptions {
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options > .displayOptions > svg {
  cursor: pointer;
  stroke: #000000;
  transition: 500ms;
}

.options > .displayOptions > svg:hover {
  cursor: pointer;
  stroke: #e54a1b;
}

.options > .displayOptions > svg:focus {
  cursor: pointer;
  stroke: #e54a1b;
}

.options > .displayOptions > #gridBtn.active {
  cursor: pointer;
  stroke: #e54a1b;
}

.options > .displayOptions > #inlineBtn.active {
  cursor: pointer;
  stroke: #e54a1b;
}

.moreAnecdotes {
  width: 90%;
  min-height: 50vh;
  margin: auto;
  margin-bottom: 20px;
}

/*? Inline disposition*/
.moreAnecdotes {
  display: grid;
  gap: 20px;
}

.moreAnecdotes > .tinyAnecdote {
  background-color: #343434;
  min-height: 20vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: space-evenly;
  padding-left: 20px;
}

.moreAnecdotes > .tinyAnecdote > .tinyAnecdotes {
  color: #ffffff;
  font-size: 25px;
  max-width: calc(100% - 250px);
  transition: 3000ms;
  position: absolute;
  right: 20px;
  padding-left: 10px;
  border-left: 2px solid #ffffff;
}

/*? Grid disposition*/
.moreAnecdotes.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 43% 43%;
  gap: 14% 4%;
}

.moreAnecdotes.grid > .tinyAnecdote {
  background-color: #343434;
  min-height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.moreAnecdotes.grid > .tinyAnecdote > .tinyAnecdotes {
  color: #ffffff;
  font-size: 25px;
  transition: 3000ms;
  position: initial;
  border: 0;
  padding: 0;
  right: 0;
  max-width: 100%;
  padding-right: 20px;
}

.moreAnecdotes > .tinyAnecdote > h3 {
  color: #ff7f57;
  font-size: 18px;
}

.moreAnecdotes > .tinyAnecdote > p {
  color: #ffffff;
  font-size: 25px;
  transition: 3000ms;
}
